body {
	background-color: #67c5db;
	font-size: 18px;
	font-family: "Helvetica, Arial, sans-serif";
	line-height: 1em;
	font-weight: bold;
}

a, a:active, a:link, a:visited {
	color: #dedee0;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.container {
	width: 100%;
	height: 323px;
}

.login {
	width: 500px;
	height: 323px;
	border: 2px solid #a1a1a1;
	box-shadow: inset 0 0 5px #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;
}

.form_header {
	width: 100%;
	height: 10%;
	Background-color: #dedee0;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 3% 0 0 0;
	border-radius: 10px 10px 0 0;
}

form {
	background-color: #eff0f2;
	padding: 5% 5%;
	border-radius: 0 0 10px 10px;
}

input[type="text"],
input[type="password"] {
	outline: none;
	font-size: 20px;
	width: 450px;
	font-family: caption;
	border: 4px double #dedee0;
	padding: 5px;
	margin: 5% 0 0 0;
}

input[type="text"]:focus,input[type="password"]:focus {
	border: 0 0 5px #000;
	box-shadow: inset 0 0 10px #a1a1a1;
}

.btn {
	outline: none;
	color: #a1a1a1;
	font-weight: bold;
	font-size: 20px;
	width: 125px;
	height: 50px;
	margin: 45px 0 0 110px;
	text-align: center;
	border-radius: 25px;
	background-color: #dedee0;
	border: 2px solid #a1a1a1;
}

.btn:hover {
	color: #000;
	background-color: #dedee0;
	box-shadow: inset 0 0 5px #000;
}

.chk {
	margin: 5% 0 0 0;
}

.rem {
	margin: 5% 0 0 0;
	font-size: 12px;
}

.forgot {
	width: 100%;
	font-size: 3em;
}

.forgot a {
	margin: 0 0 0 35%;
}
	